<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    {% if user %}
      <h3>{{user.first_name}} {{user.last_name}}'s profile!</h3>
      <ul>
      <li>
        First Name: {{user.first_name}}
      </li>
      <li>
        Last Name: {{user.last_name}}
      </li>
      <li>
        Email: {{user.email}}
      </li>
      <li>
        Phone number: {{user.phone}}
      </li>

      <li>
        Promotions: {{user.promotion}}
      </li>
    </ul>
      <input type="button" name="editprofile" value="Edit profile" onclick="location.href = '/editprofile/editbasic'">
      <input type="button" name="editpaymentinfo" value="Edit payment information" onclick="location.href = '/editprofile/cardsview'">
      <input type="button" name="changepassword" value="Change password" onclick="location.href = '/editprofile/editpassword'">
    {%else%}
      <p>Error</p>
    {%endif%} 
  </body>
</html>
