@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* can now reference my font */

#editprofile {
    margin: auto;
    width: 50%;  
    font-size: 100%;
}

#editprofile #cardtable div{
    border-style: solid;
    border-color: black;
    margin-left: 4em;
}

#editprofile p {
    padding-top: 0.2em;
    margin-bottom: 0.2em;;
}

#buttonstyle {
    padding: 0.4em;
    border-radius: 12px;
    background-color: black;
    color: white;
    width: 20%;
    
    margin-top: 1em;
    display:block;

}

#editprofile input {
    margin: 0.2em;
    padding: 0.2em;
}


#inline {
    display: inline;
}

#footer {
    font-size: 90%;
    margin: auto;
    margin-top: 3em;
    width: 50%;  
}

.fields2 {
    width: 100%;
    font-size: 150%;
    padding-left: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}