@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* can now reference my font */

#forgot-password {
    margin: auto;
    font-size: 100%;
    width: 50%;
    text-align: center;
    padding-top: 5%;
}

.field-label {
    text-align: left;
}
.fields {
    width: 100%;
    font-size: 150%;
    border: 0.1em solid #c4c4c4;
    border-radius: 0.25em;
    padding-left: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
.fields:focus {
    outline: none;
    border: 0.1em solid black;
    transition: 0.3s;
}

.fields::placeholder {
    color: #c4c4c4;
}

#next-button {
    margin-top: 2em;
    background-color: #1965d8;
    border: 0;
    width: 100%;
    border-radius: 0.25em;
    color: white;
    font-size: 150%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
#create-account-button {
    text-decoration: none;
}
#create-account-button p {
    border: 0.25em solid #1965d8;
    border-radius: 0.25em;
    color: #1965d8;
    font-size: 150%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-decoration: none;
    text-align: center;
}

#remember-me-div {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
}
