@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* can now reference my font */
body {
  font-family: 'Roboto', sans-serif;
}

main {
    margin-left: 15%;
    margin-right: 15%;

}

.image-wrapper {
    max-width: 20%;
    text-align: center;
}

#currently-showing-movies > div {
    float:left;
    margin-right: 5em;
}

#coming-soon-section {
    margin-top: 25em;
}