.navbar {
  /* to make navbar stick to browser */
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-color: #000000;
  overflow: hidden;
  color: white;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  }
  
/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #ffffff;
  text-align: center;
  margin-left: 6.5%; 
  text-decoration: none;
  font-size: 17px;
}
.navbar-button:hover {
  border-bottom: 0.1em solid white;
}

.navbar a:not(#sign-in) {
  margin-top: 0.25em;
}

#searchbar {
  width: 40%;
}
#searchbar input {
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  height: 100%;
  font-size: 120%;
  border: none;
  border-radius: 1em;
  padding-left: 1em;
}


/* Add a color to the active/current link */
.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

#sign-in, #profile-button {
  margin-top: 0.2em;
  border: 0.1em solid white;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 1em;
}
#sign-in:hover, #profile-button:hover {
  cursor: pointer;
}

.dropdown-content {
  display: none;
}
#profile-button:hover~.dropdown-content {
  background-color: orange;
  display:block;
}

#logo {
  margin-left: 5%;
  margin-right: 5%;
}

#admin-logo {
  margin-left: 5%;
  margin-right: 27%;
}

.dropdown-content {
  width: 15%;
  background-color: #000000;
  color: white;
  margin-left: 85%;
  position: absolute;
  border-radius: 0 0 0.75em 0.75em;
}
.dropdown-content div {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 5%;
}

.border-top {
  border-top: 0.1em solid #c4c4c4;
  font-weight: normal;
}