<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
    </style>
</head>

<body style="background: #f5f8fa;font-family: 'Roboto', sans-serif;">
    <div style="width: 90%;max-width:600px;margin: 20px auto;background: #ffffff;">
        <section style="margin: 0 15px;color:#425b76;">
            <h2 style="margin: 40px 0 27px 0;text-align: center;">Thank you for booking with FilmMax!</h2>
            <hr style="border:0;border-top: 1px solid rgba(66,91,118,0.3);max-width: 50%">
            <p style="font-size:15.5px;font-weight: bold;margin:40px 20px 15px 20px;">Hi {{username}}! Congrats on
                making a booking. Your booking details are below.</p>
            <h2>Movie: {{movie}}</h2>
            <h2>{{date}} at {{time}}</h2>
            <h3>Seats:</h3>
            <ul>
                {% for s in seats %}
                <li> {{s}} </li>
                {% endfor %}
            </ul>
            <h3>Ticket Types:</h3>
            <ul>
                {% if children.variable == 0 %}
                {% else %}

                <li>{{children}}x Children Tickets</li>
                {% endif %}
                {% if adults.variable == 0 %}
                {% else %}

                <li>{{adults}}x Adult Tickets</li>
                {% endif %}
                {% if seniors.variable == 0 %}
                {% else %}
                <li>{{seniors}}x Seniors</li>
                {% endif %}
            </ul>

        </section>
    </div>
</body>

</html>